.title_infopay {
    text-align: center;
    font-weight: bold;
    font-family: sans-serif; 
}
.H1 {
    font-style: tahoma; 
}

.derecha{
    text-align-last: right;
}  

.form {
    background-color:#2e2b35;
}
