.title_pago {
    text-align: center;
    font-weight: bold;
    font-family: sans-serif; 
}
.H1 {
    font-style: tahoma; 
}

.derecha{
    text-align-last: right;
}  

.form {
    background-color:#252931;
    margin-bottom: 2%;
}

