<form class="form" (submit)="InsertMovementProduct($event)">
    <dx-form    [(formData)]="productBill" 
                labelLocation="top" 
                [colCount]="5">
    
        <dxi-item   dataField="idProduct" 
                    editorType="dxSelectBox" 
                    [colSpan]="2"
                    [label]="   {
                                    text:'Productos'
                                }"
                    [editorOptions]="   { 
                                            dataSource: products,
                                            displayExpr: 'description',  
                                            valueExpr: 'id',
                                            showClearButton:'true',
                                            onSelectionChanged:valueunitChanged
                                        }">
                
            <dxi-validation-rule type="required"></dxi-validation-rule>
        
        </dxi-item>
        
        <dxi-item   dataField="quantity"
                    editorType="dxTextBox"
                    [editorOptions]="{ onValueChanged: totalValueChanged}"
                    [colSpan]="1"
                    [label]="   {
                                    text:'Cantidad'
                                }">
                        
            <dxi-validation-rule type="required"></dxi-validation-rule>
                
        </dxi-item>
        
        <dxi-item   dataField="unitValue"
                    editorType="dxTextBox"
                    [disabled]="true"
                    [colSpan]="1"
                    [label]="   {
                                    text:'Valor Unitario'
                                }">
                
        </dxi-item>
        
        <dxi-item   dataField="totalValue"
                    editorType="dxTextBox"
                    [colSpan]="1"
                    [disabled]="true"
                    [label]="   {
                                    text:'Valor Total'                               
                                }">
                
        </dxi-item>

        <dxi-item   itemType="button" 
                    [colSpan]="5" 
                    [buttonOptions]="   {
                                            text: 'Adicionar', 
                                            type: 'success', 
                                            icon: 'plus',
                                            width:'auto',
                                            height:'auto',
                                            useSubmitBehavior: true
                                        }">
        </dxi-item>

     </dx-form>   

</form>
<dx-toast [(visible)]="isVisible" 
          [(type)]="type" 
          [(message)]="message">
</dx-toast>

<dx-data-grid   id="dataGrid"
                class="mt-5"
                [dataSource]="selectProducts"
                keyExpr="id"
                [allowColumnReordering]="true">

              <dxi-column dataField="id"
                          caption="N."
                          alignment="center"></dxi-column>              
              <dxi-column dataField="productName"
                          caption="Producto"
                          alignment="center"></dxi-column>
              <dxi-column dataField="quantity"
                          caption="Cantidad"
                          alignment="center"></dxi-column>
              <dxi-column dataField="unitValue"
                          caption="Valor Unitario"
                          alignment="center"></dxi-column>
              <dxi-column dataField="totalValue"
                          caption="Valor Total"
                          alignment="center"></dxi-column>
              <dxi-column caption="" 
                          cellTemplate="actionsCellTemplate" 
                          caption="Modificar/Eliminar" 
                          alignment="center">
              </dxi-column>
      
              <div *dxTemplate="let cell of 'actionsCellTemplate'" 
                    alignment="center">
                <dx-button alignment="center" 
                           stylingMode="contained" 
                           text="" 
                           type="success" 
                           icon="edit"
                           hint="Modificar"
                           (onClick)="editMovementProduct(cell.data)">
                </dx-button>
                &nbsp;
                <dx-button alignment="center" 
                           stylingMode="contained" 
                           text="" 
                           type="danger" 
                           icon="clear"
                           hint="Eliminar"
                           (onClick)="deleteMovementProduct(cell.data.id)">
                </dx-button>
              </div>
</dx-data-grid>
<br>
<form class="form" 
      (submit)="UpdateBill($event)" >
    <dx-form    [(formData)]="updatebill" 
                labelLocation="top" 
                [colCount]="3">           
        <dxi-item   dataField="subtotal"
                    editorType="dxTextBox"
                    [disabled]="true"
                    [editorOptions]="{ onValueChanged: totalValueChanged}"
                    [colSpan]="1"
                    [label]="   {
                                    text:'SubTotal'
                                }">
                        
            <dxi-validation-rule type="required"></dxi-validation-rule>              
        </dxi-item>    
        <dxi-item   dataField="iva"
                    editorType="dxTextBox"
                    [disabled]="true"
                    [colSpan]="1"
                    [label]="   {
                                    text:'IVA'
                                }">
                
        </dxi-item>   
        <dxi-item   dataField="total"
                    editorType="dxTextBox"
                    [colSpan]="1"
                    [disabled]="true"
                    [label]="   {
                                    text:'Total Factura'                               
                                }">
                
        </dxi-item>

        <dxi-item   itemType="button" 
                    [colSpan]="3" 
                    [buttonOptions]="   {
                                            text: 'Finalizar Factura', 
                                            type: 'success', 
                                            icon: 'plus',
                                            width:'auto',
                                            height:'auto',
                                            useSubmitBehavior: true
                                        }">
        </dxi-item>

     </dx-form>   

</form>