<div class="title_pay">
    <h1>RECAUDO</h1>
</div>
    <form class="form" (submit)="SaveForm($event)" >
        <dx-form    [(formData)]="pays" 
                    labelLocation="top" 
                    [colCount]="2">
            <dxi-item   itemType="group"
                    [colSpan]="2" 
                    [colCount]="2">
            <dxi-item dataField="date"
                    [label]="{ text:'Fecha y Hora Registro'}"
                    editorType="dxDateBox"
                    [colSpan]="1"
                    [editorOptions]="{ type: 'datetime' }">
              <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-item>
                <dxi-item   dataField="idBill" 
                editorType="dxSelectBox" 
                [colSpan]="1"
                [label]="   {
                                text:'Facturas Pendientes por Pago'
                            }"
                [editorOptions]="   { 
                                        dataSource: bills,
                                        displayExpr: 'largeDescription',  
                                        valueExpr: 'id',
                                        showClearButton:'true'
                                    }">
    
                <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-item>                          
                
    
            </dxi-item>
            <dxi-item   itemType="group"
                    [colSpan]="2" 
                    [colCount]="2">                 
                <dxi-item   dataField="value"
                    editorType="dxTextBox"
                    [disabled]="false" 
                    [colSpan]="1"
                    [label]="   {
                                    text:'Valor Abono'
                                }">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-item>
            </dxi-item>
            <dxi-item   itemType="group" 
                        [colSpan]="2" 
                        [colCount]="2">
                <dxi-item   itemType="button" 
                            [colSpan]="1" 
                            [buttonOptions]="   {
                                            text: 'Generar Recaudo', 
                                            type: 'success', 
                                            width:'auto',
                                            useSubmitBehavior: true                                       
                                        }">
                </dxi-item>        
        </dxi-item>     
        </dx-form>   
    </form>

    

