<form class="form">
    <dx-form    [(formData)]="billing" 
                labelLocation="top" 
                [colCount]="3">
        <dxi-item   itemType="group"
                [colSpan]="3" 
                [colCount]="3">
            <dxi-item   dataField="numFactura"
                editorType="dxTextBox"
                [disabled]="true" 
                [colSpan]="1"
                [label]="   {
                                text:'Numero Factura'
                            }">
            <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
            </dxi-item>
            <dxi-item   dataField="fechaRegistro"
                editorType="dxTextBox"
                [disabled]="true"  
                [colSpan]="1"
                [label]="   {
                                text:'Fecha'
                            }">
            <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
            </dxi-item>
            <dxi-item   dataField="nombre"
                editorType="dxTextBox"
                [disabled]="true"  
                [colSpan]="1"
                [label]="   {
                                text:'Razon Social'
                            }">
            <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
            </dxi-item>
        </dxi-item>
        <dxi-item   itemType="group"
                [colSpan]="3" 
                [colCount]="3">
            <dxi-item   dataField="nit"
                editorType="dxTextBox"
                [disabled]="true"  
                [colSpan]="1"
                [label]="   {
                                text:'Nit'
                            }">
            <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
            </dxi-item>
            <dxi-item   dataField="direccion"
                editorType="dxTextBox"
                [disabled]="true"  
                [colSpan]="1"
                [label]="   {
                                text:'Dirección'
                            }">
            <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
            </dxi-item>
            <dxi-item   dataField="telefono"
                editorType="dxTextBox"
                [disabled]="true"  
                [colSpan]="1"
                [label]="   {
                                text:'Telefono'
                            }">
            <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
            </dxi-item>

        </dxi-item>   
        <dxi-item   itemType="group"
                [colSpan]="3" 
                [colCount]="3">
            <dxi-item   dataField="tipoCliente"
                editorType="dxTextBox"
                [disabled]="true"  
                [colSpan]="1"
                [label]="   {
                                text:'Tipo Cliente'
                                
                            }">
            <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
            </dxi-item>
            <dxi-item   dataField="estado"
                editorType="dxTextBox"
                [disabled]="true"  
                [colSpan]="1"
                [label]="   {
                                text:'Estado'
                                
                            }">
            <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
            </dxi-item>
            <dxi-item   dataField="iva"
                editorType="dxTextBox"
                [disabled]="true"  
                [colSpan]="1"
                [label]="   {
                                text:'Facturar con Iva'
                            }">
            <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
            </dxi-item>

        </dxi-item>  
    </dx-form>   
</form>
